body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.wrapper {
  margin: 0 auto;
  height: 100vh;
  background: ghostwhite;
  background: url(./assets/writing.jpg) rgba(0, 0, 0, .2) ;
  background-blend-mode: multiply;
  background-repeat: no-repeat;
    background-size: cover;
}

.wrapper h1 {
  text-align: center;
  margin: 0;
}


.rm {
  background: #b50b0b;
  border-radius: 25%;
  color:#fff;
  border: none;
}

.done {
  text-decoration: line-through;
}


.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid rgb(145, 20, 202);
  border-color: rgb(145, 20, 202) transparent rgb(145, 20, 202) transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.columnContainer {
  display: flex;
  justify-content: space-around;
  text-align: center;
  min-height: 55%;
  margin-top: 5%;
  /* max-height: 80%; */
}



.toDo {
  flex-grow: 1;
}

.columnItem {
  min-width: 25%;
  padding: 2%;
}

.todoItem.onDrag {
  transition: background-color 0.2s ease;
  background-color: rgb(195, 250, 247);
}

.todoItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  margin-bottom: .5rem;
  padding: .5rem 1rem;
  width: 70%;
  border: 1px solid #514a4a;
  border-radius: 4px;
  background: #fafafa;
}

.listContainer {
  width: 25%;
border: 1px solid black;
border-radius: 3%;
background-color: rgba(155, 98, 95, 0.9);
-webkit-box-shadow: 15px 17px 26px -8px rgba(0,0,0,0.68);
-moz-box-shadow: 15px 17px 26px -8px rgba(0,0,0,0.68);
box-shadow: 15px 17px 26px -8px rgba(0,0,0,0.68);
}

.listContainer.onDragOver {
  transition: background-color 0.2s ease;
  background-color: rgba(105, 36, 33, 0.9);
}

.header {
  padding: 3% 0 5%;
  color: antiquewhite;
  margin: 0;
}

@media all and (max-width: 500px) {
  .columnContainer {
    flex-direction: column;
    align-items: center;
  }

  .listContainer {
    width: 75%;
    margin-bottom: 5%;
    padding-bottom: 10%;
  }

}