body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.wrapper {
  padding-top: .5rem;
  margin: 0 auto;
  /* width: 600px; */
}

.wrapper h1 {
  text-align: center;
}


.rm {
  background: #b50b0b;
  border-radius: 25%;
  color:#fff;
  border: none;
}

.done {
  text-decoration: line-through;
}


.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid rgb(145, 20, 202);
  border-color: rgb(145, 20, 202) transparent rgb(145, 20, 202) transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.columnContainer {
  display: flex;
 justify-content: space-around;
}

.toDo {
  flex-grow: 1;
}

.columnItem {
  min-width: 25%;
  padding: 2%;
}